  /*MOBILE*/

  @media only screen and (max-width: 600px) {



    * {
      overflow-x: hidden;
      padding: 0px !important;
      margin: 0px !important;
    }
    .v15_19 {
      width: 100%;
      height: 1100px;
      background: rgba(11,12,16,1);
      opacity: 1;
      position: absolute;
      top: 4500px;
      left: 0px;
      overflow: hidden;
    }
    .v11_0 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 657px;
      left: 1538px;
      border-radius: 50%;
    }
    .v11_1 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 472px;
      left: 905px;
      border-radius: 50%;
    }
    .v11_2 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 979px;
      left: 251px;
      border-radius: 50%;
    }
    .v11_3 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 97px;
      left: 195px;
      border-radius: 50%;
    }
    .v11_4 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 569px;
      left: 199px;
      border-radius: 50%;
    }
    .v11_5 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 961px;
      left: 995px;
      border-radius: 50%;
    }
    .v11_6 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 963px;
      left: 1745px;
      border-radius: 50%;
    }
    .v11_7 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 790px;
      left: 1874px;
      border-radius: 50%;
    }
    .v11_8 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 855px;
      left: 682px;
      border-radius: 50%;
    }
    .v11_9 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 422px;
      left: 601px;
      border-radius: 50%;
    }
    .v11_10 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 137px;
      left: 929px;
      border-radius: 50%;
    }
    .v11_11 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 195px;
      left: 1611px;
      border-radius: 50%;
    }
    .v15_20 {
      width: 60%;
      height: 30%;
      background: url("../images/v15_20.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 60%;
      left: 10%;
      overflow: hidden;
    }
    .v15_21 {
      width: 4px;
      height: 4px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: absolute;
      top: 416px;
      left: 359px;
      border-radius: 50%;
    }
    .v15_22 {
      width: 80%;
      color: rgba(102,252,241,1);
      position: absolute;
      top: 10%;
      left: 10%;
      font-family: Cairo;
      font-weight: Black;
      font-size: 56px;
      opacity: 1;
      text-align: center;
    }
    .v15_23 {
      width: 80%;
      color: rgba(255,255,255,1);
      position: absolute;
      top: 30%;
      left: 10%;
      font-family: Cairo;
      font-weight: Regular;
      font-size: 24px;
      opacity: 1;
      text-align: left;
    }
    .v15_45 {
      width: 10%;
      height: 10%;
      background: url("../images/v15_45.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 45%;
      left: 80%;
      overflow: hidden;
    }
    
      }
    
    /*DESKTOP*/

    @media only screen and (min-width: 601px) {



      * {
        overflow-x: hidden;
        padding: 0px !important;
        margin: 0px !important;
      }
      .v15_19 {
        width: 100%;
        height: 943px;
        background: rgba(11,12,16,1);
        opacity: 1;
        position: absolute;
        top: 4300px;
        left: 0px;
        overflow: hidden;
      }
      .v11_0 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 657px;
        left: 1538px;
        border-radius: 50%;
      }
      .v11_1 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 472px;
        left: 905px;
        border-radius: 50%;
      }
      .v11_2 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 979px;
        left: 251px;
        border-radius: 50%;
      }
      .v11_3 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 97px;
        left: 195px;
        border-radius: 50%;
      }
      .v11_4 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 569px;
        left: 199px;
        border-radius: 50%;
      }
      .v11_5 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 961px;
        left: 995px;
        border-radius: 50%;
      }
      .v11_6 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 963px;
        left: 1745px;
        border-radius: 50%;
      }
      .v11_7 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 790px;
        left: 1874px;
        border-radius: 50%;
      }
      .v11_8 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 855px;
        left: 682px;
        border-radius: 50%;
      }
      .v11_9 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 422px;
        left: 601px;
        border-radius: 50%;
      }
      .v11_10 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 137px;
        left: 929px;
        border-radius: 50%;
      }
      .v11_11 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 195px;
        left: 1611px;
        border-radius: 50%;
      }
      .v15_20 {
        width: 610px;
        height: 610px;
        background: url("../images/v15_20.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 245px;
        left: 1020px;
        overflow: hidden;
      }
      .v15_21 {
        width: 4px;
        height: 4px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 416px;
        left: 359px;
        border-radius: 50%;
      }
      .v15_22 {
        width: 415px;
        color: rgba(102,252,241,1);
        position: absolute;
        top: 257px;
        left: 251px;
        font-family: Cairo;
        font-weight: Black;
        font-size: 72px;
        opacity: 1;
        text-align: center;
      }
      .v15_23 {
        width: 583px;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 472px;
        left: 199px;
        font-family: Cairo;
        font-weight: Regular;
        font-size: 36px;
        opacity: 1;
        text-align: left;
      }
      .v15_45 {
        width: 323px;
        height: 323px;
        background: url("../images/v15_45.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 747px;
        left: 558px;
        overflow: hidden;
      }
      
        }
      
            