/*MOBILE*/

@media only screen and (max-width: 600px) {


  * {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v15_3 {
    width: 100%;
    height: 1300px;
    background: linear-gradient(rgba(11,12,16,1), rgba(0,0,0,1));
    opacity: 1;
    position: absolute;
    top: 2100px;
    left: 0px;
    overflow: hidden;
  }
  .v15_4 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 667px;
    left: 1400px;
    border-radius: 50%;
  }
  .v15_5 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 728px;
    left: 705px;
    border-radius: 50%;
  }
  .v15_6 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 976px;
    left: 302px;
    border-radius: 50%;
  }
  .v15_7 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 74px;
    left: 120px;
    border-radius: 50%;
  }
  .v15_8 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 813px;
    left: 58px;
    border-radius: 50%;
  }
  .v15_9 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 913px;
    left: 1066px;
    border-radius: 50%;
  }
  .v15_10 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 940px;
    left: 1670px;
    border-radius: 50%;
  }
  .v15_11 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 401px;
    left: 1774px;
    border-radius: 50%;
  }
  .v15_12 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 483px;
    left: 975px;
    border-radius: 50%;
  }
  .v15_13 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 315px;
    left: 348px;
    border-radius: 50%;
  }
  .v15_14 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 114px;
    left: 854px;
    border-radius: 50%;
  }
  .v15_15 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 172px;
    left: 1536px;
    border-radius: 50%;
  }
  .v15_16 {
    width: 80%;
    color: rgba(102,252,241,1);
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: Cairo;
    font-weight: Black;
    font-size: 46px;
    opacity: 1;
    text-align: center;
  }
  .v15_17 {
    width: 80%;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: Cairo;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v15_18 {
    width: 45%;
    height: 30%;
    background: url("../images/v15_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 70%;
    left: 10%;
    overflow: hidden;
  }
  .v15_42 {
    width: 30%;
    height: 20%;
    background: url("../images/v15_42.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 85%;
    left: 70%;
    overflow: hidden;
  }
  
  }
  
  /*DESKTOP*/

@media only screen and (min-width: 601px) {


  * {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v15_3 {
    width: 100%;
    height: 943px;
    background: linear-gradient(rgba(11,12,16,1), rgba(0,0,0,1));
    opacity: 1;
    position: absolute;
    top: 2580px;
    left: 0px;
    overflow: hidden;
  }
  .v15_4 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 667px;
    left: 1400px;
    border-radius: 50%;
  }
  .v15_5 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 728px;
    left: 705px;
    border-radius: 50%;
  }
  .v15_6 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 976px;
    left: 302px;
    border-radius: 50%;
  }
  .v15_7 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 74px;
    left: 120px;
    border-radius: 50%;
  }
  .v15_8 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 813px;
    left: 58px;
    border-radius: 50%;
  }
  .v15_9 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 913px;
    left: 1066px;
    border-radius: 50%;
  }
  .v15_10 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 940px;
    left: 1670px;
    border-radius: 50%;
  }
  .v15_11 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 401px;
    left: 1774px;
    border-radius: 50%;
  }
  .v15_12 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 483px;
    left: 975px;
    border-radius: 50%;
  }
  .v15_13 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 315px;
    left: 348px;
    border-radius: 50%;
  }
  .v15_14 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 114px;
    left: 854px;
    border-radius: 50%;
  }
  .v15_15 {
    width: 4px;
    height: 4px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 172px;
    left: 1536px;
    border-radius: 50%;
  }
  .v15_16 {
    width: 557px;
    color: rgba(102,252,241,1);
    position: absolute;
    top: 156px;
    left: 148px;
    font-family: Cairo;
    font-weight: Black;
    font-size: 72px;
    opacity: 1;
    text-align: center;
  }
  .v15_17 {
    width: 619px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 345px;
    left: 148px;
    font-family: Cairo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v15_18 {
    width: 393px;
    height: 775px;
    background: url("../images/v15_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 118px;
    left: 1163px;
    overflow: hidden;
  }
  .v15_42 {
    width: 397px;
    height: 315px;
    background: url("../images/v15_42.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 761px;
    left: 280px;
    overflow: hidden;
  }
  
  }